general:
  buildTool: npm
  productiveBranch: main

stages:
  Build:
    cnbBuild: true
    npmExecuteLint: false
  Acceptance:
    kubernetesDeploy: true

steps:
  npmExecuteScripts:
    runScripts:
      - production-build
      - ui-build

  pipelineStashFilesBeforeBuild:
    stashIncludes:
      securityDescriptor: '**/xs-security.json'

  pipelineStashFilesAfterBuild:
    stashIncludes:
      buildDescriptor: '**/gen/**'

  cnbBuild:
    dockerImage: 'proxy-unified-runtime-dmz.int.repositories.cloud.sap/builder/jammy:latest'
    dockerConfigJsonCredentialsId: dockerConfigJsonCredentialsId
    containerImageTag: v1
    containerRegistryUrl: 'content-agent.common.repositories.cloud.sap'
    multipleImages:
      - containerImageName: i528716/incidents/incidents-jenkins-srv
        path: gen/srv
        buildpacks:
          - docker.io/paketobuildpacks/nodejs
    # add more images as needed

  helmExecute:
    chartPath: ./chart
    dependency: update
    templateStartDelimiter: "[["
    templateEndDelimiter: "]]"

  kubernetesDeploy:
    chartPath: ./gen/chart
    namespace: i528716-pipeline
    deploymentName: incidents-jenkins
    additionalParameters:
      - "--set-file"
      - "xusuaa.jsonParameters=./xs-security.json"

  artifactPrepareVersion:
    gitSshKeyCredentialsId: gitSshKeyCredentialsId