general:
  buildTool: npm
  productiveBranch: main

stages:
  Build:
    cnbBuild: true
  # Acceptance:
  #   # kubeConfigFileCredentialsId set to secret file containing kubeconfig
  #   deployTool: 'helm3'
  #   deploymentName: 'incidents-jenkins'
  #   kubernetesDeploy: true
  #   namespace: 'i528716-pipeline'
steps:
  npmExecuteScripts:
    install: true
    runScripts:
      - "production-build"
      - "ui-build"
  cnbBuild:
    # let it take default image
    containerImageTag: latest
    containerRegistryUrl: {{ .Env.DOCKER_REGISTRY }}
    multipleImages:
      - containerImageName: incidents-jenkins-srv
        path: gen/srv
      - containerImageName: incidents-jenkins-hana-deployer
        path: gen/db
      - containerImageName: incidents-jenkins-html5-deployer
        path: app/html5-deployer
        buildpacks:
        - "deploy-releases-hyperspace-docker.common.repositories.sapcloud.cn/buildpacks/application-content-deployer-buildpack:1.1.0"
