general:
  buildTool: npm
  productiveBranch: main

stages:
  Build:
    npmExecuteScripts: true

  Containerize:
    cnbBuild:
      containerImageTag: latest
      containerRegistryUrl: "content-agent.common.repositories.cloud.sap"
      multipleImages:
        - containerImageName: incidents-jenkins-srv
          path: gen/srv
        - containerImageName: incidents-jenkins-hana-deployer
          path: gen/db
        - containerImageName: incidents-jenkins-html5-deployer
          path: app/html5-deployer
          buildpacks:
            - "deploy-releases-hyperspace-docker.common.repositories.sapcloud.cn/buildpacks/application-content-deployer-buildpack:1.1.0"

steps:
  npmExecuteScripts:
    install: true
    runScripts:
      - "production-build"
      - "ui-build"

  artifactPrepareVersion:
    gitSshKeyCredentialsId: 'gitSshKeyCredentialsId'