general:
  buildTool: npm
  productiveBranch: main

stages:
  Build:
    cnbBuild: true

steps:
  npmExecuteScripts:
    install: true
    runScripts:
      - "production-build"
      - "ui-build"
  buildExecute:
    cnbBuild: true
  ccnbBuild:
    containerImageTag: latest
    containerRegistryUrl: "content-agent.common.repositories.cloud.sap"
    multipleImages:
      - containerImageName: i528716/incidents/incidents-jenkins-srv
        path: gen/srv
      - containerImageName: i528716/incidents/incidents-jenkins-hana-deployer
        path: gen/db
      - containerImageName: i528716/incidents/incidents-jenkins-html5-deployer
        path: app/html5-deployer
        buildpacks:
        - "deploy-releases-hyperspace-docker.common.repositories.sapcloud.cn/buildpacks/application-content-deployer-buildpack:1.1.0"

  artifactPrepareVersion:
    gitSshKeyCredentialsId: 'gitSshKeyCredentialsId'